*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}


.bmibody{
    min-height: 100vh;
    background: radial-gradient(circle, rgb(88, 7, 115), rgb(0, 76, 176));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container{
    width: 90%;
    max-width: 420px;
    background: rgb(226, 159, 159);
    border: white solid 2px;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
}


.header{
    color: rgb(4, 4, 101);
    font-size: 26px;
    margin-bottom: 8px;
}


.headpara{
    font-size: 17px;
    margin-bottom: 15px;
}


.btn{
    font-size: 20px;
    color: white;
    background-color: rgb(101, 17, 5);
    border-radius: 12px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}


@media (max-width: 360px){
    .header{
        font-size: 22px;
    }
    .btn{
        font-size: 18px;
    }
    .container{
        padding: 18px;
    }
}
