.container{
    text-align: center;
    margin-top: 20%;
}
.header{
    color: rgb(4, 4, 101);
    font-size: 30px;
}
.container{
    margin-left: 30%;
    margin-right: 30%;
    background: rgb(226, 159, 159);
    border: white solid 2px;
    box-shadow: inset;
    border-radius: 20px;
    padding: 30px;
}

.headpara{
    font-size: 20px;
}
.btn{
    font-size: 25px;
    color: white;
    background-color: rgb(101, 17, 5);
    border-radius: 15px;
    margin: 15px;
    padding : 5px 10px 5px 5px;
}
.bmibody{
    background: radial-gradient(circle, rgb(88, 7, 115), rgb(0, 76, 176));
}